.detailsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background: linear-gradient(to bottom right, #f7f9fc, #d6e4f0);
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    color: #ca9898;
  }
  
  .detailsPage h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #080808;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .detailsPage img {
    max-width: 40%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
  }
  
  .detailsPage p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #555;
    text-align: justify;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .backButton {
    margin-top: 20px;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #2b4f60;
    color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  .backButton:hover {
    background-color: #3d6a80;
  }
  